      body {
        background-color: lightblue;
        font-family: Georgia, 'Times New Roman', Times, serif;
      }
      /* Container for image, button, and text*/
      .image-container{
        position: relative;
        width: 100%;
        margin: 0 auto;
      }
      .image-container img{
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        display: block;
      }

      /* Left text */
      .overlay-left {
        position: absolute;
        top: 53%;                 
        left: 20px;                
        color: white;
        font-size: clamp(10px, 1.5vw, 16px); /* smaller */
        font-weight: 600;
        text-shadow: 2px 2px 4px rgba(0,0,0,.7);
      }

      /* Right text */
      .overlay-right {
        position: absolute;
        top: 57%;            
        right: 20px;               
        color: white;
        font-size: clamp(9px, 1.2vw, 14px); /* smaller than left */
        font-weight: 600;
        text-align: right;         
        text-shadow: 2px 2px 4px rgba(0,0,0,.7);
      }

      .overlay-left:hover{
        /* Making left text larger when hovering */
        font-size: clamp(15px, 1.8vw, 20px);

      }

      .overlay-right:hover{
      /* Making right text larger when hovering */
      font-size: clamp(10px, 1.6vw, 18px);

      }

      /* Login button */
      .login-button{
        background: #1677ff;
        color: white;
        /* font size with clamp to have responsive text */
        font-size: clamp(10px, 1.2vw, 16px); 
        font-weight: bold;
        position: absolute;
        left: 50%;  
        bottom: 11%;
        /* shift button back 1/2 so its truly centered*/
        transform: translateX(-50%); 
        /* inner spacing */
        padding: 10px 20px;
        border: none;
        /* extra space below bottom */
        margin-bottom: 10px;
        /* opacity has smooth transition */
        transition: opacity .2s;
        /* 4 attributes - x, y, blue, color transparency */
        box-shadow: 0 4px 12px rgba(22, 119, 255, 0.4);
        border-radius: 6px;
        cursor: pointer;
      }
      
      .login-button:hover{
        opacity: .8;
      }

      .login-button:active{
        box-shadow: none;
        opacity: .6;
      }

      a:hover{
        color: purple;
      }

    /* unvisited link */
    a:link {
      color: blue;
    }

    /* visited link */
    a:visited {
      color: blue; 
    }

    /* hovered over link */
    a:hover {
      color: darkred;
    }

    /* when link is clicked */
    a:active {
      color: orange;
    }
      